@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/*PWA Custom button styling*/
.pwa-banner {
  position: fixed;
  bottom: -100px; /* Hidden initially */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 1000;
  opacity: 0.5;
  max-width: 400px;
  background: #1D1A27;
  color: #C742F7;
  font-size: large;
  background: rgba(29, 26, 39, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.4s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.pwa-banner.show {
  bottom: 20px; /* Slides up */
  opacity: 1;
}

.pwa-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.install-btn {
  background: #50ADD7;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.dismiss-btn {
  background: #CB4EA7;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.install-btn:hover {
  background:#3B82F6;
}

.dismiss-btn:hover {
  background: #DA0D7C;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
